body {
  width: 400px;
  height: 200px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a{
  color: black;
  padding: 10px;
}

h1 {
  font-size: 24px;
  padding: 10px;
  color: red;
}

li {
  border: 1px solid red;
  padding: 3px 5px 3px 5px;
  box-sizing: border-box;
}

li:hover {
  cursor: pointer;
}

.filter-preview {
  display: flex;
}

img {
  width: 150px;
}

p {
  padding: 5px 10px 5px 10px;
}

.Protanopia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-filter: url('assets/filters.svg#protanopia');
  filter: url('assets/filters.svg#protanopia');
}

.Protanomaly {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-filter: url('assets/filters.svg#protanomaly');
  filter: url('assets/filters.svg#protanomaly');
}

.Deuteranopia {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-filter: url('assets/filters.svg#deuteranopia');
  filter: url('assets/filters.svg#deuteranopia');
}

.Deuteranomaly {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-filter: url('assets/filters.svg#deuteranomaly');
  filter: url('assets/filters.svg#deuteranomaly');
}

.Tritanopia {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-filter: url('assets/filters.svg#tritanopia');
  filter: url('assets/filters.svg#tritanopia');
}

.Tritanomaly {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-filter: url('assets/filters.svg#tritanomaly');
  filter: url('assets/filters.svg#tritanomaly');
}

.Achromatopsia {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-filter: url('assets/filters.svg#achromatopsia');
  filter: url('assets/filters.svg#achromatopsia');
}

.Achromatomaly {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-filter: url('assets/filters.svg#achromatomaly');
  filter: url('assets/filters.svg#achromatomaly');
}
