body, header, a, h1, div, ul, li, img, p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  vertical-align: inherit;
  text-decoration: inherit;
}

ul {
  list-style: none;
}
